// Name & Version
PRODUCT_NAME = $(PROJECT_NAME)

// Paths
MAX_SDK = ~/Max5/MaxSDK-5.1.7
C74SUPPORT = $(MAX_SDK)/c74support
HEADER_SEARCH_PATHS = /Developer/Headers/FlatCarbon "$(C74SUPPORT)/max-includes"
FRAMEWORK_SEARCH_PATHS = "$(C74SUPPORT)/max-includes"
DSTROOT = $(SRCROOT)/../../build-Max5
// (This next path is relative to DSTROOT)
INSTALL_PATH = /
//SKIP_INSTALL = NO


// Special Files
GCC_PREFIX_HEADER = $(C74SUPPORT)/max-includes/macho-prefix.pch
//INFOPLIST_FILE = $(SRCROOT)/../Info.plist
//GCC_INPUT_FILETYPE = sourcecode.cpp.cpp


// Per architecture and deployment settings
ARCHS = i386
SDKROOT = macosx10.7
//GCC_VERSION = 4.2
//GCC_VERSION = com.apple.compilers.llvmgcc42
//GCC_VERSION = com.apple.compilers.llvm.clang.1_0
MACOSX_DEPLOYMENT_TARGET = 10.5


// Static Configuration (don't change these)
WRAPPER_EXTENSION = mxo;
WARNING_CFLAGS = -Wmost -Wno-four-char-constants -Wno-unknown-pragmas
DEPLOYMENT_LOCATION = YES
GENERATE_PKGINFO_FILE = YES
