//
//  parser.xcconfig
//  Created by Benjamin Levy on 15/04/10.
//

PRODUCT_NAME = parser

CONFIGURATION_BUILD_DIR = $(SRCROOT)

OTHER_LDFLAGS = -lfl

GCC_INPUT_FILETYPE = sourcecode.cpp.cpp

// From Max
WARNING_CFLAGS = -Wmost -Wno-four-char-constants -Wno-unknown-pragmas
// Architecture and Deployment
//SDKROOT = /Developer/SDKs/MacOSX10.6.sdk
SDKROOT = macosx10.7
MACOSX_DEPLOYMENT_TARGET = 10.5
//GCC_VERSION = 4.2
GCC_VERSION = com.apple.compilers.llvmgcc42
//ARCHS = i386