// Name & Version
PRODUCT_NAME = $(PROJECT_NAME)

// Paths

MAX5_SDK = ~/Max5/MaxSDK-5.1.7
C74SUPPORT = $(MAX5_SDK)/c74support
HEADER_SEARCH_PATHS = /Developer/Headers/FlatCarbon "$(C74SUPPORT)/max-includes" "$(C74SUPPORT)/msp-includes"
FRAMEWORK_SEARCH_PATHS = "$(C74SUPPORT)/max-includes" "$(C74SUPPORT)/msp-includes"
DSTROOT = $(SRCROOT)/../../build/
// (This next path is relative to DSTROOT)
INSTALL_PATH = /


// Special Files
//GCC_PREFIX_HEADER = $(C74SUPPORT)/max-includes/macho-prefix.pch
//INFOPLIST_FILE = $(SRCROOT)/../Info.plist


// Per architecture and deployment settings
SDKROOT[arch=i386] = /Developer/SDKs/MacOSX10.5.sdk
//SDKROOT[arch=ppc] = /Developer/SDKs/MacOSX10.4u.sdk
GCC_VERSION[arch=i386] = 4.2
//GCC_VERSION[arch=ppc] = 4.0
MACOSX_DEPLOYMENT_TARGET = 10.5


// Static Configuration (don't change these)
WRAPPER_EXTENSION = mxo;
WARNING_CFLAGS = -Wmost -Wno-four-char-constants -Wno-unknown-pragmas
DEPLOYMENT_LOCATION = YES
GENERATE_PKGINFO_FILE = YES
