// Name & Version
PRODUCT_NAME = $(PROJECT_NAME)

// Paths

//MAX_SDK = ~/Max5/MaxSDK-5.1.7
MAX_SDK = ~/Max6/MaxSDK-6.0.4
C74SUPPORT = $(MAX_SDK)/c74support
HEADER_SEARCH_PATHS = /Developer/Headers/FlatCarbon "$(C74SUPPORT)/max-includes" "$(C74SUPPORT)/msp-includes"
FRAMEWORK_SEARCH_PATHS = "$(C74SUPPORT)/max-includes" "$(C74SUPPORT)/msp-includes"
DSTROOT = $(SRCROOT)/../../build/
// (This next path is relative to DSTROOT)
INSTALL_PATH = /


// Special Files
GCC_PREFIX_HEADER = $(C74SUPPORT)/max-includes/macho-prefix.pch
//INFOPLIST_FILE = $(SRCROOT)/../Info.plist


// Per architecture and deployment settings
ARCHS = i386
//GCC_VERSION = com.apple.compilers.llvmgcc42
GCC_VERSION = com.apple.compilers.llvm.clang.1_0
SDKROOT = macosx10.7
MACOSX_DEPLOYMENT_TARGET = 10.5


// Static Configuration (don't change these)
WRAPPER_EXTENSION = mxo;
WARNING_CFLAGS = -Wmost -Wno-four-char-constants -Wno-unknown-pragmas
DEPLOYMENT_LOCATION = YES
GENERATE_PKGINFO_FILE = YES
